body { 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background: #333333; 
}

canvas {
  background: #87CEEB; 
  border: 4px solid #fff; 
  box-shadow: 0 0 20px rgba(0,0,0,0.5); 
  
}
h1 {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(148, 232, 148);
}

h2 {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(148, 232, 148);
}

img {
  position: fixed; 
  top: 50px; 
  margin: 15px;
  color: white; 
  font-family: sans-serif;
}

#stuff {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  margin: 15px;
  color: white; /* Added so you can see it against the dark background */
  font-family: sans-serif;
  font-size: 12px;
}

details {
  position: fixed; 
  top: 5px; 
  left: 5px; 
  margin: 15px;
  color: white; /* Added so you can see it against the dark background */
  font-family: sans-serif;
  font-size: 12px;
}
#stuff button {
  font-size: 12px;
}

#home {
  position: fixed;
  right: 15px;
  top: 10px;
}
#shooterShop {
  position: absolute;
  right: 15px;
  top: 40px;
}

#instructions {
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px;
  max-width: 200px;
  background-color: grey;
  color: white;
  padding: 10px;
}

#mobileControls {
  position: fixed;
  bottom: 0px;
  right: 10px;
  display: flex;
}
#mobileControls button {
  max-width: 80px;
  width: 90vw;
  margin: 30px;
  max-height: 80px;
  height: 90vw;
}

#homeButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#homeButtons button {
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  
}

#shooter {
  background-color: green;
  cursor: pointer;
}
#shooter:hover {
  transform: scale(1.03);
}

#plat {
  background-color: green;
  cursor: pointer;
}
#plat:hover {
  transform: scale(1.03);
}

#maze{
  background-color: grey;
  opacity: 25%;
}

#clicker {
  background-color: green;
  cursor: pointer;
}
#clicker:hover {
  transform: scale(1.03);
}
#shop {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: row;
  gap: 10px;

  align-items: center;
  justify-content: center;

  flex-wrap: nowrap;
}

#shop button {
  width: 120px;
  height: 60px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  white-space: normal;
}

#progressContainer {
  width: 400px;
  height: 20px;
  border: 2px solid black;
  background: #444;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
}

#progressBar {
  width: 0%;
  height: 100%;
  background: limegreen;
  transition: width 0.1s;
}

#clickButton {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50% );
  font-size: 70px;
  padding: 15px;
}

#clicks{
  color: beige;
  font-size: 100px;
}
h3 {
  color: beige;
}

#shooterShopDiv {
  text-align: center;
  position: absolute;
  top: 15px;
}

#gameCanvas {
  width: 100%;
  aspect-ratio: 2/1;
}